In [1]:
import numpy as np
import snowflake.connector
import pandas as pd
import datetime

In [1]:
# Gets the version
ctx = snowflake.connector.connect(
        user='****',
        password='****',
        account='****',
        warehouse='****',
        database='****'
        #schema= 'DIM'
    )








cs = ctx.cursor()

try:
    
    query = "USE ROLE ****_READER"
    cur = ctx.cursor().execute(query)
    query =''' SELECT B.FACT.F.FORM_KEY,
B.FACT.ENTITY_TYPE,
B.FACT.F.CLIENT_KEY,
B.FACT.F.BUILDING_KEY,
B.FACT.F.EQUIPMENT_KEY,
B.FACT.F.WORKORDER_NBR,
B.FACT.F.ATC_ID,
B.FACT.F.SUBMISSION_ID,
B.FACT.F.SOURCE,
B.FACT.F.SUBMISSION_STATUS,
B.FACT.F.SUBMITTED_DATE,
B.FACT.F.SUBMITTED_DATE_KEY,
B.FACT.F.CREATED_DATE,
B.FACT.F.CREATED_DATE_KEY,
B.FACT.F.CREATED_BY,
B.FACT.F.TEMPLATE_DESCRIPTION,
B.FACT.ORMSUBMISSIONS.TEMPLATE_POSITION,
B.FACT.F.FIELD_ID,
B.FACT.F.FIELD_NAME,
B.FACT.F.FIELD_NAME_ENGLISH,
B.FACT.F.FIELD_COLUMN,
B.FACT.F.FIELD_DATATYPE,
B.FACT.F.FIELD_POSITION,
B.FACT.F.FIELD_VALUE,
B.FACT.F.ARCHIVED_FLAG,
B.FACT.F.LONGITUDE,
B.FACT.F.LATITUDE,
B.FACT.F.GEO_ACCURACY,
B.FACT.F.REFERENCE,
B.FACT.F.DSS_CREATE_TIME,
B.FACT.F.DSS_UPDATE_TIME

from B.FACT.F

where (B.FACT.F.FORM_KEY in (****,****,****,****))
order by CREATED_DATE ASC
 '''
    cur = ctx.cursor().execute(query)
    FormSubValue= pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])

finally:
    cs.close()
ctx.close()
print(len(FormSubValue))
FormSubValue

NameError: name 'snowflake' is not defined

In [4]:
print(FormSubValue.columns)

Index(['FORM_KEY', 'ENTITY_TYPE', 'CLIENT_KEY', 'BUILDING_KEY',
       'EQUIPMENT_KEY', 'WORKORDER_NBR', 'ATC_ID', 'SUBMISSION_ID', 'SOURCE',
       'SUBMISSION_STATUS', 'SUBMITTED_DATE', 'SUBMITTED_DATE_KEY',
       'CREATED_DATE', 'CREATED_DATE_KEY', 'CREATED_BY',
       'TEMPLATE_DESCRIPTION', 'TEMPLATE_POSITION', 'FIELD_ID', 'FIELD_NAME',
       'FIELD_NAME_ENGLISH', 'FIELD_COLUMN', 'FIELD_DATATYPE',
       'FIELD_POSITION', 'FIELD_VALUE', 'ARCHIVED_FLAG', 'LONGITUDE',
       'LATITUDE', 'GEO_ACCURACY', 'REFERENCE', 'DSS_CREATE_TIME',
       'DSS_UPDATE_TIME'],
      dtype='object')

In [5]:
type(FormSubValue['CREATED_DATE'])

pandas.core.series.Series

In [6]:
FormSubValue['CREATED_DATE'] = pd.to_datetime(FormSubValue['CREATED_DATE'], errors='coerce', utc=True)
#FormSubValue

In [7]:
type(FormSubValue['CREATED_DATE'])

pandas.core.series.Series

In [8]:
FormSubValue['CREATED_DATE'].dt.tz_localize(None)

0        2020-04-06 13:52:22
1        2020-04-06 13:52:22
2        2020-04-06 13:52:22
3        2020-04-06 13:52:22
4        2020-04-06 13:52:22
                 ...
117072   2022-06-23 21:58:40
117073   2022-06-23 21:58:40
117074   2022-06-23 21:58:40
117075   2022-06-23 21:58:40
117076   2022-06-23 21:58:40
Name: CREATED_DATE, Length: 117077, dtype: datetime64[ns]

In [9]:
FormSubValue['CREATED_DATE']=FormSubValue['CREATED_DATE'].dt.date

In [10]:
FormSubValue['CREATED_DATE'].isna().sum()

0

In [11]:
FormSubValue['CREATED_DATE'] =  pd.to_datetime(FormSubValue['CREATED_DATE'], format='%Y %m %d')

## 2020

In [2]:
FormSubValue2020 = FormSubValue[FormSubValue['CREATED_DATE'].dt.strftime('%Y') == '2020']
FormSubValue2020

NameError: name 'FormSubValue' is not defined

### Dropping Duplicates and NANs in WO

In [83]:
FormSubValue2020=FormSubValue2020.drop_duplicates('WORKORDER_NBR')

In [84]:
FormSubValue2020=FormSubValue2020.dropna(subset=['WORKORDER_NBR'])

### Bringing D's table from lower part of the script

In [85]:
D2020 = D2020.drop_duplicates('Work Order Number')

In [86]:
D2020=D2020.dropna(subset=['Work Order Number'])

In [87]:
D2020['Work Order Number'].isin(FormSubValue2020['WORKORDER_NBR']).value_counts()

False    5588
True     1829
Name: Work Order Number, dtype: int64

In [88]:
#David2020['SUBMISSION_ID'].isin(FormSubValue2020['SUBMISSION_ID']).value_counts()

In [89]:
    FormSubValue2020['WORKORDER_NBR'].isin(D2020['Work Order Number']).value_counts()

True     1829
False       1
Name: WORKORDER_NBR, dtype: int64

In [90]:
#FormSubValue2020['SUBMISSION_ID'].isin(D2020['SUBMISSION_ID']).value_counts()

In [91]:
#mWO2020 =  set(Dd2020['Work Order Number']).intersection(FormSubValue2020['WORKORDER_NBR']) 
#MWO2020=list[mWO2020]
#MWO2020

In [92]:
#Join2020 = D2020.merge(FormSubValue2020,on=['SUBMISSION_ID'])
#print(Join2020)
#D2020[~D2020.SUBMISSION_ID.isin(Join2020 .SUBMISSION_ID)]

In [94]:
#FormSubValue2020.rename(columns = {'SUBMISSION_ID':'SUBMISSION_ID20'}, inplace = True)

In [95]:
#ids_in_df2 = FormSubValue2020.SUBMISSION_ID20.unique()
#not_found_ids = D2020[~(D2020['SUBMISSION_ID'].isin(FormSubValue2020['SUBMISSION_ID20'] ))]

#not_found_ids['SUBMISSION_ID'].dropna().tolist()

In [97]:
not_found_ids20 = D2020[~D2020['Work Order Number'].isin(FormSubValue2020['WORKORDER_NBR'] )]
D2020NMutal=not_found_ids20['Work Order Number'].dropna().tolist()

In [3]:
D2020NMutal

NameError: name 'D2020NMutal' is not defined

In [144]:
with open("C:****.txt", 'w') as output:
    for row in D2020NMutal:
        output.write(str(row) + '\n')

In [4]:
D2020NMutalT=D2020.loc[D2020['Work Order Number'].isin(D2020NMutal)]
D2020NMutalT

NameError: name 'D2020' is not defined

In [146]:
D2020NMutalT.to_csv('C****.csv')

In [153]:
MYnot_found_ids20 = FormSubValue2020[~FormSubValue2020['WORKORDER_NBR'].isin(D2020['Work Order Number'] )]
Snow2020NMutal=MYnot_found_ids20['WORKORDER_NBR'].dropna().tolist()

In [5]:
Snow2020NMutal

NameError: name 'Snow2020NMutal' is not defined

In [155]:
with open("C:\****\Snow2020.txt", 'w') as output:
    for row in Snow2020NMutal:
        output.write(str(row) + '\n')

In [6]:
Snow2020NMutalT=FormSubValue2020.loc[FormSubValue2020['WORKORDER_NBR'].isin(Snow2020NMutal)]
Snow2020NMutalT

NameError: name 'FormSubValue2020' is not defined

In [157]:
Snow2020NMutalT.to_csv('C:****\Snow2020.csv')

In [158]:
len(not_found_ids20['Work Order Number'].dropna())

5588

In [7]:
FormSubValue2020.loc[FormSubValue2020['WORKORDER_NBR']=='****']

NameError: name 'FormSubValue2020' is not defined

In [8]:
D2020.loc[D2020['Work Order Number']=='****']

NameError: name 'David2020' is not defined

## 2021

In [9]:
FormSubValue2021 = FormSubValue[FormSubValue['CREATED_DATE'].dt.strftime('%Y') == '2021']
FormSubValue2021

NameError: name 'FormSubValue' is not defined

In [162]:
FormSubValue2021=FormSubValue2021.drop_duplicates('WORKORDER_NBR')

In [163]:
FormSubValue2021=FormSubValue2021.dropna(subset=['WORKORDER_NBR'])

In [164]:
D2021 = D2021.drop_duplicates('Work Order Number')

In [165]:
D2021=D2021.dropna(subset=['Work Order Number'])

In [166]:
D2021['Work Order Number'].isin(FormSubValue2021['WORKORDER_NBR']).value_counts()

True    5059
Name: Work Order Number, dtype: int64

In [167]:
D2021['SUBMISSION_ID'].isin(FormSubValue2021['SUBMISSION_ID']).value_counts()

True     5056
False       3
Name: SUBMISSION_ID, dtype: int64

In [168]:
FormSubValue2021['WORKORDER_NBR'].isin(D2021['Work Order Number']).value_counts()

True     5059
False       4
Name: WORKORDER_NBR, dtype: int64

In [169]:
FormSubValue2021['SUBMISSION_ID'].isin(D2021['SUBMISSION_ID']).value_counts()

True     5056
False       7
Name: SUBMISSION_ID, dtype: int64

In [170]:
not_found_ids21 = D2021[~David2021['Work Order Number'].isin(FormSubValue2021['WORKORDER_NBR'] )]
not_found_ids21['Work Order Number'].dropna().tolist()

[]

In [171]:
MYnot_found_ids21 = FormSubValue2021[~FormSubValue2021['WORKORDER_NBR'].isin(D2021['Work Order Number'] )]
Snow2021NMutal=MYnot_found_ids21['WORKORDER_NBR'].dropna().tolist()

In [10]:
Snow2021NMutal

NameError: name 'Snow2021NMutal' is not defined

In [173]:
with open("C:****\Snow2021.txt", 'w') as output:
    for row in Snow2021NMutal:
        output.write(str(row) + '\n')

In [11]:
Snow2021NMutalT=FormSubValue2021.loc[FormSubValue2021['WORKORDER_NBR'].isin(Snow2021NMutal)]
Snow2021NMutalT

NameError: name 'FormSubValue2021' is not defined

In [175]:
Snow2021NMutalT.to_csv('C:***\Snow2021.csv')

## 2022

In [12]:
FormSubValue2022 = FormSubValue[FormSubValue['CREATED_DATE'].dt.strftime('%Y') == '2022']
FormSubValue2022

NameError: name 'FormSubValue' is not defined

In [177]:
FormSubValue2022=FormSubValue2022.drop_duplicates('WORKORDER_NBR')

In [178]:
FormSubValue2022=FormSubValue2022.dropna(subset=['WORKORDER_NBR'])

In [179]:
D['Work Order Number'].isin(FormSubValue2022['WORKORDER_NBR']).value_counts()

True     1035
False       6
Name: Work Order Number, dtype: int64

In [180]:
D['SUBMISSION_ID'].isin(FormSubValue2022['SUBMISSION_ID']).value_counts()

True     943
False     98
Name: SUBMISSION_ID, dtype: int64

In [181]:
FormSubValue2022['WORKORDER_NBR'].isin(D2022['Work Order Number']).value_counts()

True     943
False    535
Name: WORKORDER_NBR, dtype: int64

In [182]:
FormSubValue2022['SUBMISSION_ID'].isin(D2022['SUBMISSION_ID']).value_counts()

True     943
False    535
Name: SUBMISSION_ID, dtype: int64

In [183]:
not_found_ids22 = D2022[~D2022['Work Order Number'].isin(FormSubValue2022['WORKORDER_NBR'] )]
not_found_ids22['Work Order Number'].dropna().tolist()

[]

In [184]:
MYnot_found_ids22 = FormSubValue2022[~FormSubValue2022['WORKORDER_NBR'].isin(D2022['Work Order Number'] )]
Snow2022NMutal=MYnot_found_ids22['WORKORDER_NBR'].dropna().tolist()

In [13]:
Snow2022NMutal

NameError: name 'Snow2022NMutal' is not defined

In [186]:
with open("C:****\Snow2022.txt", 'w') as output:
   for row in Snow2022NMutal:
        output.write(str(row) + '\n')

In [14]:
Snow2022NMutalT=FormSubValue2022.loc[FormSubValue2022['WORKORDER_NBR'].isin(Snow2022NMutal)]
Snow2022NMutalT

NameError: name 'FormSubValue2022' is not defined

In [188]:
Snow2022NMutalT.to_csv('C:\****\Snow2022.csv')

## Comparison Ends

In [102]:
result = FormSubValue.dtypes
result

FORM_KEY                                                 int64
ENTITY_TYPE                                             object
CLIENT_KEY                                               int64
BUILDING_KEY                                             int64
EQUIPMENT_KEY                                            int64
WORKORDER_NBR                                           object
ATC_ID                                                  object
SUBMISSION_ID                                           object
SOURCE                                                  object
SUBMISSION_STATUS                                       object
SUBMITTED_DATE                                          object
SUBMITTED_DATE_KEY                                       int64
CREATED_DATE                                    datetime64[ns]
CREATED_DATE_KEY                                         int64
CREATED_BY                                              object
TEMPLATE_DESCRIPTION                                    object
TEMPLATE_POSITION                                        int64
FIELD_ID                                               float64
FIELD_NAME                                              object
FIELD_NAME_ENGLISH                                      object
FIELD_COLUMN                                            object
FIELD_DATATYPE                                          object
FIELD_POSITION                                         float64
FIELD_VALUE                                             object
ARCHIVED_FLAG                                           object
LONGITUDE                                              float64
LATITUDE                                               float64
GEO_ACCURACY                                           float64
REFERENCE                                               object
DSS_CREATE_TIME         datetime64[ns, pytz.FixedOffset(-240)]
DSS_UPDATE_TIME         datetime64[ns, pytz.FixedOffset(-240)]
dtype: object

### Pivot table is made

In [103]:
FormSubValue['FIELD_NAME'].unique()

array(['Photo - After', 'CBG', 'Work Order Number', 'Key Value Added',
       'Work Order Type', 'Building ID', 'Address', 'City',
       'Regional Operation Manager', 'Photo - Before',
       'Travel Time to Site', 'Time Spent on Value Add',
       'Description of Value Added Task', None], dtype=object)

In [15]:
df=FormSubValue[['WORKORDER_NBR','REFERENCE','SUBMISSION_ID','CREATED_DATE','CREATED_BY','SOURCE','SUBMISSION_STATUS','ENTITY_TYPE','FIELD_NAME','LATITUDE','LONGITUDE','FIELD_VALUE']]
#
df

NameError: name 'FormSubValue' is not defined

In [105]:
df.isna().sum()

WORKORDER_NBR            31
REFERENCE            117077
SUBMISSION_ID             0
CREATED_DATE              0
CREATED_BY                0
SOURCE                    0
SUBMISSION_STATUS         0
ENTITY_TYPE               0
FIELD_NAME               31
LATITUDE              18924
LONGITUDE             18924
FIELD_VALUE              39
dtype: int64

In [16]:
Pivdf=pd.pivot_table(FormSubValue,index=['WORKORDER_NBR','SUBMISSION_ID','CREATED_DATE','CREATED_BY','SOURCE','SUBMISSION_STATUS','ENTITY_TYPE','LATITUDE','LONGITUDE'],columns=['FIELD_NAME'],values= ['FIELD_VALUE'],aggfunc='first')
Pivdf

NameError: name 'pd' is not defined

In [107]:
Pivdf.columns = list(map(" ".join, Pivdf.columns))
Pivdf = Pivdf.reset_index()
print(Pivdf.columns)

Index(['WORKORDER_NBR', 'SUBMISSION_ID', 'CREATED_DATE', 'CREATED_BY',
       'SOURCE', 'SUBMISSION_STATUS', 'ENTITY_TYPE', 'LATITUDE', 'LONGITUDE',
       'FIELD_VALUE Address', 'FIELD_VALUE Building ID', 'FIELD_VALUE CBG',
       'FIELD_VALUE City', 'FIELD_VALUE Description of Value Added Task',
       'FIELD_VALUE Key Value Added', 'FIELD_VALUE Photo - After',
       'FIELD_VALUE Photo - Before', 'FIELD_VALUE Regional Operation Manager',
       'FIELD_VALUE Time Spent on Value Add',
       'FIELD_VALUE Travel Time to Site', 'FIELD_VALUE Work Order Number',
       'FIELD_VALUE Work Order Type'],
      dtype='object')

In [17]:
Pivdf

NameError: name 'Pivdf' is not defined

In [109]:
Pivdf= Pivdf.sort_values(by=['CREATED_DATE'], ascending=True)

In [110]:
Pivdf.loc[:,'CREATED_DATE']

3953   2020-04-06
1595   2020-04-07
1596   2020-04-07
5908   2020-04-07
5907   2020-04-07
          ...
3444   2022-06-23
3445   2022-06-23
5337   2022-06-23
3499   2022-06-23
3476   2022-06-23
Name: CREATED_DATE, Length: 7841, dtype: datetime64[ns]

In [111]:
Pivdf["CREATED_DATE"].min()

Timestamp('2020-04-06 00:00:00')

In [112]:
Pivdf["CREATED_DATE"].max()

Timestamp('2022-06-23 00:00:00')

In [18]:
Pivdf.head()

NameError: name 'Pivdf' is not defined

In [114]:
Pivdf.columns.tolist()

['WORKORDER_NBR',
 'SUBMISSION_ID',
 'CREATED_DATE',
 'CREATED_BY',
 'SOURCE',
 'SUBMISSION_STATUS',
 'ENTITY_TYPE',
 'LATITUDE',
 'LONGITUDE',
 'FIELD_VALUE Address',
 'FIELD_VALUE Building ID',
 'FIELD_VALUE CBG',
 'FIELD_VALUE City',
 'FIELD_VALUE Description of Value Added Task',
 'FIELD_VALUE Key Value Added',
 'FIELD_VALUE Photo - After',
 'FIELD_VALUE Photo - Before',
 'FIELD_VALUE Regional Operation Manager',
 'FIELD_VALUE Time Spent on Value Add',
 'FIELD_VALUE Travel Time to Site',
 'FIELD_VALUE Work Order Number',
 'FIELD_VALUE Work Order Type']

In [115]:
Pivdf.duplicated().sum()

0

In [116]:
Pivdf['CREATED_DATE'].isna().sum()

0

In [117]:
Pivdf.isna().sum()

WORKORDER_NBR                                     0
SUBMISSION_ID                                     0
CREATED_DATE                                      0
CREATED_BY                                        0
SOURCE                                            0
SUBMISSION_STATUS                                 0
ENTITY_TYPE                                       0
LATITUDE                                          0
LONGITUDE                                         0
FIELD_VALUE Address                              11
FIELD_VALUE Building ID                          11
FIELD_VALUE CBG                                  11
FIELD_VALUE City                                 11
FIELD_VALUE Description of Value Added Task       0
FIELD_VALUE Key Value Added                       1
FIELD_VALUE Photo - After                      2018
FIELD_VALUE Photo - Before                     1707
FIELD_VALUE Regional Operation Manager            1
FIELD_VALUE Time Spent on Value Add               1
FIELD_VALUE Travel Time to Site                   1
FIELD_VALUE Work Order Number                     0
FIELD_VALUE Work Order Type                      11
dtype: int64

In [118]:
Pivdf.columns.tolist()

['WORKORDER_NBR',
 'SUBMISSION_ID',
 'CREATED_DATE',
 'CREATED_BY',
 'SOURCE',
 'SUBMISSION_STATUS',
 'ENTITY_TYPE',
 'LATITUDE',
 'LONGITUDE',
 'FIELD_VALUE Address',
 'FIELD_VALUE Building ID',
 'FIELD_VALUE CBG',
 'FIELD_VALUE City',
 'FIELD_VALUE Description of Value Added Task',
 'FIELD_VALUE Key Value Added',
 'FIELD_VALUE Photo - After',
 'FIELD_VALUE Photo - Before',
 'FIELD_VALUE Regional Operation Manager',
 'FIELD_VALUE Time Spent on Value Add',
 'FIELD_VALUE Travel Time to Site',
 'FIELD_VALUE Work Order Number',
 'FIELD_VALUE Work Order Type']

In [19]:
Pivdf['FIELD_VALUE CBG'].unique()

NameError: name 'Pivdf' is not defined

In [120]:
#import pandas_profiling



#profile = pandas_profiling.ProfileReport(Pivdf , title=' Profiling Report', explorative=True)
#profile.to_file("HistoricalValueAddedTask Descriptive Statistics .html")

### Saving the final file

In [121]:
pivdf.to_csv('****/HistoricalAddedValue.csv')

### Compare my table with David'd table

In [122]:
D = pd.read_excel ('C:****\Value Add PowerBI.xlsx')

In [20]:
D

NameError: name 'D' is not defined

In [124]:
D.columns.tolist()

['FORM_NAME',
 'VERSION',
 'STATUS_CODE',
 'SOURCE',
 'CREATED_BY',
 'SUBMITTED_ON',
 'SUBMISSION_ID',
 'LONGITUDE',
 'LATITUDE',
 'REFERENCE',
 'Work Order Number',
 'CBG',
 'Work Order Type',
 'Building ID',
 'Address',
 'City',
 'Regional Operation Manager',
 'Key Value Added',
 'Time Spent on Value Add',
 'Travel Time to Site',
 'Description of Value Added Task',
 'Photo - Before',
 'Photo - After']

In [125]:
D['Work Order Number'].isin(Pivdf['WORKORDER_NBR']).value_counts()

False    19332
True      7743
Name: Work Order Number, dtype: int64

In [126]:
D['Work Order Number'].isin(Pivdf['WORKORDER_NBR'])

0         True
1        False
2         True
3         True
4         True
         ...
27070    False
27071     True
27072     True
27073     True
27074    False
Name: Work Order Number, Length: 27075, dtype: bool

In [127]:
D['SUBMISSION_ID'].isin(Pivdf['SUBMISSION_ID']).value_counts()

False    20398
True      6677
Name: SUBMISSION_ID, dtype: int64

In [128]:
Pivdf['SUBMISSION_ID'].isin(D['SUBMISSION_ID']).value_counts()

True     6525
False    1316
Name: SUBMISSION_ID, dtype: int64

In [129]:
D['Work Order Number'].isin(FormSubValue['WORKORDER_NBR']).value_counts()

False    17866
True      9209
Name: Work Order Number, dtype: int64

In [130]:
D['SUBMITTED_ON']= pd.to_datetime(D['SUBMITTED_ON'], errors='coerce', utc=True)

In [21]:
D2019 = D[D['SUBMITTED_ON'].dt.strftime('%Y') == '2019']
D2019

NameError: name 'D' is not defined

In [22]:
D = D[D['SUBMITTED_ON'].dt.strftime('%Y') == '2020']
D2020

NameError: name 'D' is not defined

In [134]:
D2020['Work Order Number'].duplicated().sum()

1227

In [135]:
D2020['Work Order Number'].isna().sum()

0

In [23]:
D2021 = D[D['SUBMITTED_ON'].dt.strftime('%Y') == '2021']
D2021

NameError: name 'D' is not defined

In [137]:
D2021['Work Order Number'].duplicated().sum()

791

In [138]:
D2021['Work Order Number'].isna().sum()

20

In [24]:
D2022 = D[D['SUBMITTED_ON'].dt.strftime('%Y') == '2022']
D2022

NameError: name 'D' is not defined

In [140]:
D2022['Work Order Number'].duplicated().sum()

97

In [141]:
D2022['Work Order Number'].isna().sum()

6